@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-noire bg-blank text-black dark:text-blank;
  }
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapsidebar {
  display: flex;
  align-items: center;
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  font-size: 1.2rem;
}
